.products-list {
    margin-top: 50px;
    padding: 20px;

    @include bp(lg) {
        margin-top: 75px;
    }
}

.products-list__title {
    
}

.products-list__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-between;
}

.products-list__list-item {
    flex-basis: 100%;
    max-width: 100%;
    margin: 5px 0px;

    @include bp(xsm) {
        flex-basis: 48%;
        max-width: 48%;
        margin-right: 5px;
    }

    @include bp(sm) {
        flex-basis: 31%;
        max-width: 31%;
        margin-right: 10px;
    }

    @include bp(md) {
        flex-basis: 23%;
        max-width: 23%;
    }
}

.products-list-item__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: $product-list-item;
    text-align: center;
    border-radius: 3px;
    height: 100%;
}

.products-list-item__title {
    margin-bottom: 10px;
    line-height: 1;
}

.products-list-item__image {
    width: 200px;
}

.products-list-item__descr {
    padding: 5px 10px;
    margin: 5px;
    font-size: 1.1rem;
}

.product-list-item__price {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: auto;
}

.products-list-item__button {
    font-size: 1.2rem;
    background-color: $primary-button-color-bg;
    color: $white;
    margin-top: 10px;
    cursor: pointer;
}