.shopping-cart {
    visibility: hidden;
    opacity: 0;
    height: 0px;
    width: 0px;
    position: fixed;
    right: 25px;
    top: 25px;
    background-color: $white;
    border: 1px solid $gray1;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    &.sc-opened {
        visibility: visible;
        opacity: 1;
        height: auto;
        width: 250px;

        @include bp(lg) {
            width: 350px;
        }
    }
}

.shopping-cart__title {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px;
    padding: 20px 10px 0px 10px;
}

.shopping-cart__list {
    list-style: none;
    padding: 0px 20px;
}

.shopping-cart__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px 0px;
    border-bottom: 1px solid $light-gray;
}

.cart-list-item__button {
    border: none;
    cursor: pointer;
    padding: 0px;
    margin-right: 10px;
}

.cart-list-item__product {
    line-height: 1;
    margin-right: auto;
}

.shopping-cart__summary {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
}

.cart-summary__total {
    font-size: 1.1rem;
    font-weight: 600;
}