* {
    margin: 0px;
    padding: 0px;
    font-size: $base-font;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Baloo2-Regular';
    letter-spacing: 1px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

body {
    background-color: $page-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    padding: 5px 10px;
    border-radius: 3px;
    background: none;
    border: 1px solid $black;
}